<!DOCTYPE html>
<html lang="en">
	<!--!
				   ____________
				  /\          /\       _________________________
				 /  \        /  \
				/____\______/    \     ❤ Shima
				\    /      \    /     ☯ 547021
				 \  /        \  /      _________________________
				  \/__________\/                         ~~~~(♡)
									   ᕕ( ᐛ )ᕗ
	-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="author" href="<%= htmlWebpackPlugin.options.custom.base %>humans.txt" />
		<title>Shima</title>

		<!-- bar color (iOS, Android) -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="theme-color" content="#111" />
		<meta name="msapplication-navbutton-color" content="#111" />

		<!-- favicon -->
		<link rel="icon" type="image/png" sizes="16x16"   href="assets/image/favicon/favicon-16x16.png"   />
		<link rel="icon" type="image/png" sizes="32x32"   href="assets/image/favicon/favicon-32x32.png"   />
		<link rel="icon" type="image/png" sizes="96x96"   href="assets/image/favicon/favicon-96x96.png"   />
		<link rel="icon" type="image/png" sizes="192x192" href="assets/image/favicon/favicon-192x192.png" />

		<!-- social network -->
		<meta name="url"                 content="<%= htmlWebpackPlugin.options.custom.base %>" />
		<meta property="og:image"        content="<%= htmlWebpackPlugin.options.custom.base %>assets/image/og-image.png" />
		<meta property="og:type"         content="website" />
		<meta property="og:description"  content="▨ Shima is a quick, painless, javascript-free grid overlay. Helpful for vertical rhythm, grid systems, icon designing and more." />
		<meta property="og:site_name"    content="▨ Shima" />
		<meta property="og:locale"       content="en" />
		<meta name="twitter:card"        content="summary" />
		<meta name="twitter:title"       content="▨ Shima" />
		<meta name="twitter:description" content="▨ Shima is a quick, painless, javascript-free grid overlay. Helpful for vertical rhythm, grid systems, icon designing and more." />
		<meta name="twitter:url"         content="<%= htmlWebpackPlugin.options.custom.base %>" />
		<meta name="twitter:image"       content="<%= htmlWebpackPlugin.options.custom.base %>assets/image/og-image.png" />

		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110169890-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag("js", new Date());
			gtag("config", "UA-110169890-1", { "anonymize_ip": true });
		</script>
	</head>
	<body>
		<!-- built files will be auto injected -->
		<div id="app"></div>
	</body>
</html>
